.countdownContainer {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--title);
}

.countdownContainer > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;

  background: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.countdownContainer > div span {
  flex: 1;
  font-family: Rajdhani;
}

.countdownContainer > div span + span {
  border-left: 1px solid #f0f1f3;
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}

.countdownContainer span {
  user-select: none;
}

.countdownButton {
  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-bottom: 4px solid var(--blue);
  border-radius: 5px;

  background: var(--white);
  color: var(--blue); 

  font-weight: 500;
  font-size: 1.25rem;

  transition: all 0.4s;
  
}

.countdownButton svg {
  margin-left: 0.8rem;
  font-size: 1.15rem;
  stroke-width: 2.5px;
}

.countdownButton:not(:disabled):hover {
  filter: brightness(0.89);
}

.countdownButtonActive {
  color: var(--red);
  border-color: var(--red);
}

.countdownButton:disabled {
  color: var(--green);
  cursor: not-allowed;
  border-color: var(--green);
}