.profileContainer {
  display: flex;
  align-items: center;
}

.profileContainer > figure {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--gray-line);

  display: flex;
  align-items: center;
  justify-content: center;
} 

.profileContainer > figure svg {
  font-size: 1.4rem;
  color: var(--title);
}

.profileContainer > figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profileContainer div {
  margin-left: 1.5rem;
  flex: 1;
}

.profileContainer div strong {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.5rem;
  font-weight: 500;
  color: var(--title);
}

.profileContainer div strong button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;

  transition: all 0.3s;
}

.profileContainer div strong button svg {
  font-size: 1.2rem;
  stroke-width: 3px;
  color: var(--red);
}

.profileContainer div strong button:hover {
  opacity: 0.6;
}

.profileContainer div strong a {
  transition: all 0.3s;
}

.profileContainer div strong a:hover {
  opacity: 0.5;
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContainer div p img {
  margin-right: 0.5rem;
}